@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Oswald", Arial, sans-serif;
}

/* .navbar-brand {
    background-image: url(../images/merry-go-round.png);
} */

h1 {
    padding: 10%;
    color: antiquewhite;
    font-size: 200px;
    text-decoration: underline;
    mix-blend-mode: difference;
}

#merry-go-round {
    width: 100%;
    position: relative;
    mix-blend-mode: color-dodge;
}

.text-align-last-center {
    text-align-last: center;
}

li {
    list-style: none;
}

#image-background {
    background-image: url(../images/gig-action.jpg);
    background-size: cover;
    background-position: center;
}

