@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Oswald", Arial, sans-serif;
}

/* .navbar-brand {
    background-image: url(../images/merry-go-round.png);
} */

h1 {
    padding: 10%;
    color: antiquewhite;
    font-size: 200px;
    text-decoration: underline;
    mix-blend-mode: difference;
}

h2 {
	font-size: 1em;
	text-align: left;
}

p {
	font-size: .9rem;
}

div {
	border-radius: 4px;
}

#merry-go-round {
    width: 100%;
    position: relative;
    mix-blend-mode: color-dodge;
}

.text-align-last-center {
    text-align-last: center;
}

li {
    list-style: none;
}

#image-background {
    background-image: url(../images/gig-action.jpg);
    background-size: cover;
    background-position: center;
}


.container-fluid-style {
    background-color: grey;
    color: aliceblue;
}

.container-style {
    background-color: brown;
    color: whitesmoke;
}

.jumbotron {
    background-image: url(../images/merry-go-round.png);
    background-position: center;
    background-size: cover;
}

.jumbotron-fluid {
    text-align: center;
    border-style: double;
    background-color: antiquewhite; 
}

.large-bold {
    font-weight: bold;
    font-size: large;
}

.card {
	flex:1; /* */
	display: flex;	/* make the contents controllable by flexbox*/
	flex-flow:column;	/* */
	min-width: 240px; /**/
	margin: 10px;
	padding: 20px;
	background-color: #fff;
}

.card_image {
	width: 100%;
}

.card_image_1 {
	width: 100%;
}

.bottom_button {
	display: flex;
	box-sizing:border-box;
	border-radius: 4px;
	display: block;
	width: 100%;
	background-color:rgba(129, 187, 201,.85);
	text-align: center;
	padding: 1em .75em;
	text-decoration: none;
	color: #fff;
}

.bottom_button_1 {
	display: flex;
	box-sizing:border-box;
	border-radius: 4px;
	display: block;
	width: 100%;
	background-color:rgba(129, 187, 201,.85);
	text-align: center;
	padding: 1em .75em;
	text-decoration: none;
	color: #fff;
}

.card_bottom {
	display: flex;
	flex-flow:column;
}

.card_head {
	flex:0;
}

.card_para {
	flex:1 0 auto;
}

#card-container {
	display: flex;		/* makes container a flexbox*/
	flex-flow: row wrap; 	/* layout the boxes in rows and wrap them*/
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	max-width:1050px;	
}

#video-container {
    display: flex;		/* makes container a flexbox*/
    flex-direction: row-reverse;
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	max-width:1050px;	
}

.embed-responsive {
    width: 18rem;
    height: auto;
}

.center {
    place-content: center;
}

.reverse {
    flex-flow: wrap-reverse;
}

#maps-frame {
    height: 100px;
    width: 50%;
    background-color: black;
    overflow: inherit;
}


